@import 'normalize';
@import 'settings';
@import 'fonts';
@import 'foundation';

nav {
  border-bottom: solid $blue 1px;
  z-index: 5;

  img.logo {
    height: 45px;
    margin-left: 15px;
  }

  ul.title {
    li {
      background: white;

      h1 {
        color: $blue;
        background-color: white;
        font-family: jubilat;
        text-align: center;
      }
    }
  }
}

@media #{$small-only} {
  nav ul.title {
    display: none;
  }
}

a.pane {
  display: block;
  margin-top: 25px;
  padding: 15px;
  padding-top: 5px;

  h1 {
    color: $blue;
    font-family: jubilat;
    font-size: 24px;
    text-align: center;
  }

  &:hover {
    background-color: $bggray;
  }
}

div.page {
  height: 650px;

  iframe {
    position: absolute;
    padding-top: 75px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px $bggray;
  }
}